In [11]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [27]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
June = dt.date(2017, 6, 30)
June = dt.date(2017, 6, 30) - dt.timedelta(days=30)
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date == June).all()
results

[('2017-05-31', 79.0),
 ('2017-05-31', 76.0),
 ('2017-05-31', 81.0),
 ('2017-05-31', 79.0),
 ('2017-05-31', 75.0)]

In [5]:
#  3. Convert the June temperatures to a list.

In [13]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','temperatures'])
df.set_index(df['date'], inplace=True)
df

                  date  temperatures
date
2017-07-24  2017-07-24          78.0
2017-07-25  2017-07-25          80.0
2017-07-26  2017-07-26          82.0
2017-07-27  2017-07-27          79.0
2017-07-28  2017-07-28          81.0
...                ...           ...
2017-08-19  2017-08-19          71.0
2017-08-20  2017-08-20          78.0
2017-08-21  2017-08-21          76.0
2017-08-22  2017-08-22          76.0
2017-08-23  2017-08-23          76.0

[143 rows x 2 columns]

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.